header {

  padding-top: 25px;
  width: 100%;
  background-color: none;
  color: white;
}
.name {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: gray;
  padding: 10px;
  font-size: 20px;
}
li a:hover {
  color: white;
}
li a.active {
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .nav ul {
    display: none; /* hide nav on small screens */
  }

  .menu-toggle {
    display: block; /* show hamburger menu */
  }
}
.nav ul.active {
  display: flex;
  flex-direction: column;
}