<div class="hero-container">
  <div class="circle-one">
    <div class="circle-two">
      <div class="circle-three">
        <div class="cirlce-three">
          <div class="circle-four">
            <img src="Me.jpg" alt="Hero Image" />
            <p class="text">Software Engineer</p>
            <h1 class="name">Mohamed Hamdy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>Work Experience</h1>
<div class="card-container">
  @for(experience of experiences; track experience.id) { 
  <app-experience-card [experience]="experience"/>
  }
</div>
